:root{
    --text-color: rgb(195, 210, 167);
    --background-color:rgb(39, 55, 30);  
}


.board{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2%;
    background-color: rgb(39, 55, 30);  
    width:100%;
    height: 100%;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.board > *{
    width:100%;
}

.board *{
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
}


.black{
    color: rgb(0,0,0);
}

.red{
    color: rgb(209, 47, 19);
}

.card{ 
    margin: 0.2%;
    width: 150px;
    max-width: 150px;
    height: 230px;
    max-height: 230px;
    border: 0.5px solid transparent;
    border-radius: 10px;
    background-image: url('../img sources/card-front-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.background{
    width: 150px;
    max-width: 150px;
    height: 230px;
    max-height: 230px;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    background-image: url('../img sources/card-background-design.jpg');
    background-size: cover;
    background-position: center;
}

.row1{
    height: 20%;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.row2{
    height: 80%;
    width: 100%;
    justify-content: center;
}

.row1.fig{
    height: 5%;
    width: 100%;
}

.row1.fig.top.black{
    height: 5%;
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.row1.fig.top.red{
    height: 5%;
    width: 100%;
    border-bottom: 2px solid rgb(209, 47, 19);
}

.row1.fig.bottom.black{
    height: 5%;
    width: 100%;
    border-top: 2px solid rgb(0, 0, 0);
}

.row1.fig.bottom.red{
    height: 5%;
    width: 100%;
    border-top: 2px solid rgb(209, 47, 19);
}

.row2.fig{
    height: 80%;
    justify-content: flex-end;
}

.semicolumn.black{
    width: 50%;
    flex-direction: column;
    height: 92.6%;
    border-left: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid black;
    border-bottom-left-radius: 10px;
}

.semicolumn.red{
    width: 50%;
    flex-direction: column;
    height: 92.6%;
    border-left: 2px solid rgb(209, 47, 19);
    border-bottom: 2px solid rgb(209, 47, 19);
    border-bottom-left-radius: 10px;
}

.corner{
    align-items:flex-end;
    justify-content: center;
    width: 100%;
}

.center{
    align-content: center;
    justify-content: center;
}


.suit{
    justify-content: center;
}


.insideimgsuit{
    height: 80%;
    width: 80%;
    max-width: 80%;
    max-height: 8%0%;
}

.rotateimgsuit{
    rotate:180deg
}

.cornerimgsuit{
    height:43%;
    width: 43%;
    max-width: 50%;
    max-height: 50%;
}

.column{
    width:20%
}

.column.two.fig{
    width: 60%;
    flex-direction: row;
    height: 100%;
}


.middlerow1{
    align-content: flex-start;
}

.middlerow2{
    align-content: flex-end;
}

.five{
    flex-direction: column;
    rotate: 180deg;
}

.three, .two, .four{
    align-items: center;
}

.justify{
    align-content: center;
}

.figurespace{
    height: 50%;
    width: 100%;
    flex-direction: column;
}

.mainfig{
    height: 99.5%;
    width: 75%;
}

.jon{
    width:86%
}

.khaleesi{
    width: 80%;
    transform: scaleX(-1);
}

.figure{
    width: 26%;
    height: 26%;
}

.figureimg{
    width: 100%;
    height:100%;
}


body{
background-color: var(--background-color);
height: 70vh;
}

.audio{
  display: none;
}


.menu{
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 2%;
  width:100%;
  height: 40%;
  color: var(--text-color);
}

.menu > *{
  display: flex;
}


.war{
text-shadow: 17px 5px 9px rgb(8, 8, 8);;
flex-basis: 50%;
align-items: center;
justify-content: center;
height: 50%;
font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
font-size: 100px;
}


.buttons{
    flex-basis: 20%;
    flex-flow: column wrap;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100;
    gap: 6%;
}


.btn-group .button {
  background-color: transparent;
  border: 1px solid rgb(170, 171, 145);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 21px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  cursor: pointer;
  display: block;
  width: 100%;
}

.btn-group .button:last-child{
  border-top:none;
}

.btn-group .button:hover {
  background-color:rgb(170, 171, 145);
}

.btn-group {
  transform: translateX(12px);
}

.btn-group .button:disabled {
  cursor: not-allowed;  
  opacity: 0.3; 
  background-color: #333; 
  color: grey;
  border-color: grey;
  pointer-events: none; 
}



.background{
    width: 150px;
    height: 230px;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    background-image: url('../img sources/card-background-design.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
}

.background:nth-child(1) { transform:  translateX(20px); }
.background:nth-child(2) { transform:  translateX(15px); }
.background:nth-child(3) { transform:  translateX(10px); }
.background:nth-child(4) { transform:  translateX(5px); }
.background:nth-child(5) { transform:  translateX(0px);}

.reverse:nth-child(1) { transform:  translateX(-20px); }
.reverse:nth-child(2) { transform:  translateX(-15px); }
.reverse:nth-child(3) { transform:  translateX(-10px); }
.reverse:nth-child(4) { transform:  translateX(-5px); }
.reverse:nth-child(5) { transform:  translateX(0px);}

.card-stack{
    position: relative;
    height: 230px;
    width: 150px;
}


.playground{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
  padding: 1%;
}

.playground > * {
  display: flex;
}

.player1, .player2 {
display: flex;
flex-flow: row wrap;
justify-content: flex-star;
  flex-basis: 30%;
}

.table{
  flex-basis: 40%;
  flex-flow: row wrap;
}

.temp{
display: none;
flex-direction: row;
flex-basis: 100%;
justify-content: space-evenly;
height: 30%;
padding: 3%;
}

.temp-stack{
height: 230px;
width: 150px;
border: 0.5px solid lightgray;
background-image: url('../img sources/card-background-design.jpg');
background-size: cover;
background-position: center;
border-radius: 10px;
position: absolute;
right: 45%;
}

.temp-stack:nth-child(1) { transform:  translateX(10px) translateY(0px) rotate(-8deg);}
.temp-stack:nth-child(2) { transform:  translateX(5px) translateY(0px) rotate(10deg);}
.temp-stack:nth-child(3) { transform:  translateX(0px) translateY(0px) rotate(0deg);}
.temp-stack:nth-child(4) { transform:  translateX(-15px) translateY(0px) rotate(0deg);}
.temp-stack:nth-child(5) { transform:  translateX(0px) translateY(0px) rotate(8deg);}
.temp-stack:nth-child(6) { transform:  translateX(-10px) translateY(0px) rotate(-5deg);}


.plays{
  display: flex;
  flex-basis: 100%;
  height: 50%;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding-top: 20%;
}



.deck-one{
display: flex;
flex-basis: 100%;
height: 60%;
justify-content: flex-end;
align-items: flex-end;
padding: 10%;
}

.deck-two{
    display: flex;
    flex-basis: 100%;
    height: 60%;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10%;
    }


#card-one, #card-two{
    display: none;
}

#equal-one{
    display: flex;
    margin: 0.2%;
    width: 150px; 
    max-width: 150px;
    height: 230px;
    max-height: 230px;
    border: 0.5px solid transparent;
    border-radius: 10px;
    background-image: url('../img sources/card-front-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: flex-start;
    transform: rotate(-10deg)
}

#equal-two{
    display: flex;
    margin: 0.2%;
    width: 150px; 
    max-width: 150px;
    height: 230px;
    max-height: 230px;
    border: 0.5px solid transparent;
    border-radius: 10px;
    background-image: url('../img sources/card-front-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: flex-end;
    transform: rotate(5deg)
}

